/*  ===============
	General Webpage 
	=============== */
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	color: white;
	hyphens: auto;
	text-align: center;
	align-items: center;
	word-spacing: 0.01em;
	letter-spacing: normal;
	justify-content: center;
	background-color: #353535;
	font-family: Verdana, sans-serif;
}

/*  =================
	Main Body Content
	================= */
.projectContent {
	padding-left: 20%;
	padding-right: 20%;
}


/*  ======================
	Page Content Animation
	====================== */
.pageContent {
	will-change: opacity;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.body-animate-in .pageContent {
	opacity: 1;
}
.body-animate-out .pageContent {
	opacity: 0;
}

/*  ==================
	Divider and Header
	================== */
.divider {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #0066ff;
	font-size: 27px;
	padding-bottom: 10px;
	justify-content: flex-end;
	justify-content: flex-start;
}
.divider hr {
	flex: 1;
	border: none;
	height: 2px;
	border-radius: 10px;
	background-color: #0066ff;
}

/*  ============
	Text Content  
	============ */
.sectionContent {
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: justify;
}
.sectionContent p {
	padding-bottom: 15px;
}

/*  =============
	Code Terminal  
	============= */
.codeTerminal {
	background-color: #1e1e1e;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	width: 100%;
	margin: auto;
}
.codeHeader {
	background-color: #252525;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.ToggleBtn {
	background: none;
	border: none;
	color: #9a4dff;
	font-size: 1rem;
	cursor: pointer;
}
.codeContent {
	max-height: 0;
	overflow: hidden;
	padding: 0 1rem;
	transition: max-height 0.6s ease, padding 0.6s ease;;
}
.codeContent.expanded {
	max-height: 1000px;
	overflow: auto;
	padding: 1rem;
}

/*  ============== 
	Footer Section 
	============== */
.footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #202020;
}

/*  ==================== 
	Responsive Portfolio 
	==================== */
@media (max-width: 1080px) {
	.mainBodyContent {
		width: 100%;
		max-width: none;
		margin: 0;
		left: 0;
	}
}